params {
    fastqc_bin = "/opt/homebrew/bin/fastqc"
    
    cutadapt_bin = "/opt/anaconda3/bin/cutadapt"


    output = "/Users/tiada/OneDrive/Documents/Test_pipeline/output" //path of output.

    fastq_dir = "/Users/tiada/OneDrive/Documents/Test_pipeline" //path of fastq file.

    bwa_bin = "/opt/homebrew/bin/bwa"

    reference = "/Users/tiad/Documents/nextflow/reference/chr22.fa"

    adapter = "AGATCGGAAGAG"  // Standard Illumina TruSeq adapter

    bcftools_bin = "/opt/homebrew/bin/bcftools"  // Path to bcftools

