params {

    // Input / Output
    fastq_dir = "data/fastq"
    output = "results"

    // Tool binaries
    fastqc_bin = "fastqc"
    cutadapt_bin = "cutadapt"
    bwa_bin = "bwa"
    bcftools_bin = "bcftools"

    // Analysis parameters
    reference = "data/reference/genome.fa"
    adapter = "AGATCGGAAGAG"
}

